# coding: utf-8

"""
    Bandwidth Dashboard REST API Documentation

    No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

    OpenAPI spec version: v1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class DefaultApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def accounts_account_id_available_npa_nxx_get(self, account_id, **kwargs):
        """
        
        Retrieves a list of available Npa-Nxx telephone numbers.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_available_npa_nxx_get(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param int area_code: The allowed number ranges are [2-9] for the first digit and [0-9] for both the second and third digits.
        :param str state: Returns only the NPA NXX information within the specified state
        :param int quantity: Filters out any Npa-Nxx grouped phone numbers whose quantity falls short of the given quantity.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_available_npa_nxx_get_with_http_info(account_id, **kwargs)
        else:
            (data) = self.accounts_account_id_available_npa_nxx_get_with_http_info(account_id, **kwargs)
            return data

    def accounts_account_id_available_npa_nxx_get_with_http_info(self, account_id, **kwargs):
        """
        
        Retrieves a list of available Npa-Nxx telephone numbers.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_available_npa_nxx_get_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param int area_code: The allowed number ranges are [2-9] for the first digit and [0-9] for both the second and third digits.
        :param str state: Returns only the NPA NXX information within the specified state
        :param int quantity: Filters out any Npa-Nxx grouped phone numbers whose quantity falls short of the given quantity.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'area_code', 'state', 'quantity']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_available_npa_nxx_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_available_npa_nxx_get`")

        resource_path = '/accounts/{accountId}/availableNpaNxx'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}
        if 'area_code' in params:
            query_params['areaCode'] = params['area_code']
        if 'state' in params:
            query_params['state'] = params['state']
        if 'quantity' in params:
            query_params['quantity'] = params['quantity']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_available_numbers_get(self, account_id, **kwargs):
        """
        
        Retrieves the phone numbers according to the input parameters

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_available_numbers_get(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param int quantity: The desired quantity of requested numbers. Values range from 1-5000.
        :param bool enable_tn_detail: If set to true, a list of details associated with the telephone number (rate center, abbreviation, city, state, and LATA) will be displayed along with the TN.
        :param bool lca: Values are true or false.
        :param bool ends_in: Intended to use with <i>localVanity</i> only. If set to true, the search will look for only numbers which end in specified <i>localVanity</i>, otherwise <i>localVanity</i> sequence can be met anywhere in last 7 number digits. The default is false.
        :param int area_code: The 3-digit area code associated with the TN. Allowed number ranges are [2-9] for the first digit and [0-9] for both the second and third digits.
        :param int npa_nxx: The 6 prefix associated with the TN.<br> Allowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.<br> Allowed number ranges for NXX are [2-9] for the first digit and [0-9] for both the second and third digits.<br> 
        :param int npa_nxxx: The 7-digit prefix associated with the TN.<br> Allowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.<br> Allowed number ranges for NXXX are [2-9] for the first digit and [0-9] the rest of the (X) digits.<br> 
        :param int lata: A maximum five digit (XXXXX) numeric format
        :param str rate_center: The abbreviation for the rateCenter
        :param str city: The name of the city.
        :param str state: The two-letter abbreviation of the state the RateCenter is in
        :param str toll_free_vanity: The Toll Free requested vanity number. Valid range is 7+ digits alphanumeric.
        :param str toll_free_wild_card_pattern: The Toll Free requested wild card pattern. valid range is 3 digits.
        :param str local_vanity: Requested vanity number. Valid range is from 4 to 7 alphanumeric characters.
        :param int zip: A five-digit (XXXXX) or nine-digit (XXXXX-XXXX) format value.
        :param str order_by: The field by which the results should be sorted
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_available_numbers_get_with_http_info(account_id, **kwargs)
        else:
            (data) = self.accounts_account_id_available_numbers_get_with_http_info(account_id, **kwargs)
            return data

    def accounts_account_id_available_numbers_get_with_http_info(self, account_id, **kwargs):
        """
        
        Retrieves the phone numbers according to the input parameters

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_available_numbers_get_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param int quantity: The desired quantity of requested numbers. Values range from 1-5000.
        :param bool enable_tn_detail: If set to true, a list of details associated with the telephone number (rate center, abbreviation, city, state, and LATA) will be displayed along with the TN.
        :param bool lca: Values are true or false.
        :param bool ends_in: Intended to use with <i>localVanity</i> only. If set to true, the search will look for only numbers which end in specified <i>localVanity</i>, otherwise <i>localVanity</i> sequence can be met anywhere in last 7 number digits. The default is false.
        :param int area_code: The 3-digit area code associated with the TN. Allowed number ranges are [2-9] for the first digit and [0-9] for both the second and third digits.
        :param int npa_nxx: The 6 prefix associated with the TN.<br> Allowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.<br> Allowed number ranges for NXX are [2-9] for the first digit and [0-9] for both the second and third digits.<br> 
        :param int npa_nxxx: The 7-digit prefix associated with the TN.<br> Allowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.<br> Allowed number ranges for NXXX are [2-9] for the first digit and [0-9] the rest of the (X) digits.<br> 
        :param int lata: A maximum five digit (XXXXX) numeric format
        :param str rate_center: The abbreviation for the rateCenter
        :param str city: The name of the city.
        :param str state: The two-letter abbreviation of the state the RateCenter is in
        :param str toll_free_vanity: The Toll Free requested vanity number. Valid range is 7+ digits alphanumeric.
        :param str toll_free_wild_card_pattern: The Toll Free requested wild card pattern. valid range is 3 digits.
        :param str local_vanity: Requested vanity number. Valid range is from 4 to 7 alphanumeric characters.
        :param int zip: A five-digit (XXXXX) or nine-digit (XXXXX-XXXX) format value.
        :param str order_by: The field by which the results should be sorted
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'quantity', 'enable_tn_detail', 'lca', 'ends_in', 'area_code', 'npa_nxx', 'npa_nxxx', 'lata', 'rate_center', 'city', 'state', 'toll_free_vanity', 'toll_free_wild_card_pattern', 'local_vanity', 'zip', 'order_by']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_available_numbers_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_available_numbers_get`")

        resource_path = '/accounts/{accountId}/availableNumbers'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}
        if 'quantity' in params:
            query_params['quantity'] = params['quantity']
        if 'enable_tn_detail' in params:
            query_params['enableTNDetail'] = params['enable_tn_detail']
        if 'lca' in params:
            query_params['LCA'] = params['lca']
        if 'ends_in' in params:
            query_params['endsIn'] = params['ends_in']
        if 'area_code' in params:
            query_params['areaCode'] = params['area_code']
        if 'npa_nxx' in params:
            query_params['npaNxx'] = params['npa_nxx']
        if 'npa_nxxx' in params:
            query_params['npaNxxx'] = params['npa_nxxx']
        if 'lata' in params:
            query_params['lata'] = params['lata']
        if 'rate_center' in params:
            query_params['rateCenter'] = params['rate_center']
        if 'city' in params:
            query_params['city'] = params['city']
        if 'state' in params:
            query_params['state'] = params['state']
        if 'toll_free_vanity' in params:
            query_params['tollFreeVanity'] = params['toll_free_vanity']
        if 'toll_free_wild_card_pattern' in params:
            query_params['tollFreeWildCardPattern'] = params['toll_free_wild_card_pattern']
        if 'local_vanity' in params:
            query_params['localVanity'] = params['local_vanity']
        if 'zip' in params:
            query_params['zip'] = params['zip']
        if 'order_by' in params:
            query_params['orderBy'] = params['order_by']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_bdrs_bdrid_file_get(self, account_id, bdrid, **kwargs):
        """
        
        A GET on the /file resource subtending a BDR ID will cause the download of the file.  Executing this resource path within a browser will cause the download of the file.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_bdrs_bdrid_file_get(account_id, bdrid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str bdrid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_bdrs_bdrid_file_get_with_http_info(account_id, bdrid, **kwargs)
        else:
            (data) = self.accounts_account_id_bdrs_bdrid_file_get_with_http_info(account_id, bdrid, **kwargs)
            return data

    def accounts_account_id_bdrs_bdrid_file_get_with_http_info(self, account_id, bdrid, **kwargs):
        """
        
        A GET on the /file resource subtending a BDR ID will cause the download of the file.  Executing this resource path within a browser will cause the download of the file.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_bdrs_bdrid_file_get_with_http_info(account_id, bdrid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str bdrid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'bdrid']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_bdrs_bdrid_file_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_bdrs_bdrid_file_get`")
        # verify the required parameter 'bdrid' is set
        if ('bdrid' not in params) or (params['bdrid'] is None):
            raise ValueError("Missing the required parameter `bdrid` when calling `accounts_account_id_bdrs_bdrid_file_get`")

        resource_path = '/accounts/{accountId}/bdrs/{bdrid}/file'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'bdrid' in params:
            path_params['bdrid'] = params['bdrid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept([])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_bdrs_bdrid_get(self, account_id, bdrid, **kwargs):
        """
        
        A GET on the BDR ID will return a \"still processing\" indication if the file creation has not completed, or will redirect to the file to be downloaded.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_bdrs_bdrid_get(account_id, bdrid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str bdrid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_bdrs_bdrid_get_with_http_info(account_id, bdrid, **kwargs)
        else:
            (data) = self.accounts_account_id_bdrs_bdrid_get_with_http_info(account_id, bdrid, **kwargs)
            return data

    def accounts_account_id_bdrs_bdrid_get_with_http_info(self, account_id, bdrid, **kwargs):
        """
        
        A GET on the BDR ID will return a \"still processing\" indication if the file creation has not completed, or will redirect to the file to be downloaded.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_bdrs_bdrid_get_with_http_info(account_id, bdrid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str bdrid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'bdrid']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_bdrs_bdrid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_bdrs_bdrid_get`")
        # verify the required parameter 'bdrid' is set
        if ('bdrid' not in params) or (params['bdrid'] is None):
            raise ValueError("Missing the required parameter `bdrid` when calling `accounts_account_id_bdrs_bdrid_get`")

        resource_path = '/accounts/{accountId}/bdrs/{bdrid}'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'bdrid' in params:
            path_params['bdrid'] = params['bdrid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_bdrs_post(self, account_id, **kwargs):
        """
        
        Request a collection of BDRs be aggregated and ZIPped ready for distribution.  The payload for the POST declares the date range for the request.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_bdrs_post(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_bdrs_post_with_http_info(account_id, **kwargs)
        else:
            (data) = self.accounts_account_id_bdrs_post_with_http_info(account_id, **kwargs)
            return data

    def accounts_account_id_bdrs_post_with_http_info(self, account_id, **kwargs):
        """
        
        Request a collection of BDRs be aggregated and ZIPped ready for distribution.  The payload for the POST declares the date range for the request.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_bdrs_post_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_bdrs_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_bdrs_post`")

        resource_path = '/accounts/{accountId}/bdrs'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/xml'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_billingreports_post(self, account_id, **kwargs):
        """
        
        The payload for the POST declares the date range and type for the desired reports. The valid Types are... <ul> <li>BDR - Billing Detail Records - per call information</li> <li>MDR - Message Detail Records - per messagin information</li> <li>INVOICE - A copy of the invoice file or files for the specified date range</li> <li>STATEMENT&#95;BDR - BDR records that are aligned with the invoice</li> <li>DID&#95;SNAPSHOT - a list of telephone numbers aligned as closely as we can with the billing window</li> </ul>

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_billingreports_post(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_billingreports_post_with_http_info(account_id, **kwargs)
        else:
            (data) = self.accounts_account_id_billingreports_post_with_http_info(account_id, **kwargs)
            return data

    def accounts_account_id_billingreports_post_with_http_info(self, account_id, **kwargs):
        """
        
        The payload for the POST declares the date range and type for the desired reports. The valid Types are... <ul> <li>BDR - Billing Detail Records - per call information</li> <li>MDR - Message Detail Records - per messagin information</li> <li>INVOICE - A copy of the invoice file or files for the specified date range</li> <li>STATEMENT&#95;BDR - BDR records that are aligned with the invoice</li> <li>DID&#95;SNAPSHOT - a list of telephone numbers aligned as closely as we can with the billing window</li> </ul>

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_billingreports_post_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_billingreports_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_billingreports_post`")

        resource_path = '/accounts/{accountId}/billingreports'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/xml'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_billingreports_reportid_file_get(self, account_id, reportid, **kwargs):
        """
        
        A GET on the /file resource subtending a report ID will cause the download of the file.  Executing this resource path within a browser will cause the download of the file.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_billingreports_reportid_file_get(account_id, reportid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str reportid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_billingreports_reportid_file_get_with_http_info(account_id, reportid, **kwargs)
        else:
            (data) = self.accounts_account_id_billingreports_reportid_file_get_with_http_info(account_id, reportid, **kwargs)
            return data

    def accounts_account_id_billingreports_reportid_file_get_with_http_info(self, account_id, reportid, **kwargs):
        """
        
        A GET on the /file resource subtending a report ID will cause the download of the file.  Executing this resource path within a browser will cause the download of the file.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_billingreports_reportid_file_get_with_http_info(account_id, reportid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str reportid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'reportid']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_billingreports_reportid_file_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_billingreports_reportid_file_get`")
        # verify the required parameter 'reportid' is set
        if ('reportid' not in params) or (params['reportid'] is None):
            raise ValueError("Missing the required parameter `reportid` when calling `accounts_account_id_billingreports_reportid_file_get`")

        resource_path = '/accounts/{accountId}/billingreports/{reportid}/file'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'reportid' in params:
            path_params['reportid'] = params['reportid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_billingreports_reportid_get(self, account_id, reportid, **kwargs):
        """
        
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_billingreports_reportid_get(account_id, reportid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str reportid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_billingreports_reportid_get_with_http_info(account_id, reportid, **kwargs)
        else:
            (data) = self.accounts_account_id_billingreports_reportid_get_with_http_info(account_id, reportid, **kwargs)
            return data

    def accounts_account_id_billingreports_reportid_get_with_http_info(self, account_id, reportid, **kwargs):
        """
        
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_billingreports_reportid_get_with_http_info(account_id, reportid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str reportid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'reportid']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_billingreports_reportid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_billingreports_reportid_get`")
        # verify the required parameter 'reportid' is set
        if ('reportid' not in params) or (params['reportid'] is None):
            raise ValueError("Missing the required parameter `reportid` when calling `accounts_account_id_billingreports_reportid_get`")

        resource_path = '/accounts/{accountId}/billingreports/{reportid}'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'reportid' in params:
            path_params['reportid'] = params['reportid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_discnumbers_get(self, account_id, page, size, **kwargs):
        """
        
        Retrieves a list of disconnected numbers associated with the account. There are optional search parameters to limit the discNumbers payload

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_discnumbers_get(account_id, page, size, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str page: The first disconnected number on the desired page.   \"1\" is used as a convention for the first disconnected number in the collection (required)
        :param int size: The number of records that should be returned by the query (required)
        :param date startdate: The starting date of a search. startdate and enddate <strong>must</strong> be used as a pair.
        :param date enddate: The ending date of a search. startdate and enddate <strong>must</strong> be used as a pair.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_discnumbers_get_with_http_info(account_id, page, size, **kwargs)
        else:
            (data) = self.accounts_account_id_discnumbers_get_with_http_info(account_id, page, size, **kwargs)
            return data

    def accounts_account_id_discnumbers_get_with_http_info(self, account_id, page, size, **kwargs):
        """
        
        Retrieves a list of disconnected numbers associated with the account. There are optional search parameters to limit the discNumbers payload

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_discnumbers_get_with_http_info(account_id, page, size, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str page: The first disconnected number on the desired page.   \"1\" is used as a convention for the first disconnected number in the collection (required)
        :param int size: The number of records that should be returned by the query (required)
        :param date startdate: The starting date of a search. startdate and enddate <strong>must</strong> be used as a pair.
        :param date enddate: The ending date of a search. startdate and enddate <strong>must</strong> be used as a pair.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'page', 'size', 'startdate', 'enddate']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_discnumbers_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_discnumbers_get`")
        # verify the required parameter 'page' is set
        if ('page' not in params) or (params['page'] is None):
            raise ValueError("Missing the required parameter `page` when calling `accounts_account_id_discnumbers_get`")
        # verify the required parameter 'size' is set
        if ('size' not in params) or (params['size'] is None):
            raise ValueError("Missing the required parameter `size` when calling `accounts_account_id_discnumbers_get`")

        resource_path = '/accounts/{accountId}/discnumbers'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}
        if 'page' in params:
            query_params['page'] = params['page']
        if 'size' in params:
            query_params['size'] = params['size']
        if 'startdate' in params:
            query_params['startdate'] = params['startdate']
        if 'enddate' in params:
            query_params['enddate'] = params['enddate']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_discnumbers_totals_get(self, account_id, **kwargs):
        """
        
        Retrieves a total number of disconnects.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_discnumbers_totals_get(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param date startdate: The starting date of a search. startdate and enddate <strong>must</strong> be used as a pair.
        :param date enddate: The end date of a search. startdate and enddate <strong>must</strong> be used as a pair.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_discnumbers_totals_get_with_http_info(account_id, **kwargs)
        else:
            (data) = self.accounts_account_id_discnumbers_totals_get_with_http_info(account_id, **kwargs)
            return data

    def accounts_account_id_discnumbers_totals_get_with_http_info(self, account_id, **kwargs):
        """
        
        Retrieves a total number of disconnects.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_discnumbers_totals_get_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param date startdate: The starting date of a search. startdate and enddate <strong>must</strong> be used as a pair.
        :param date enddate: The end date of a search. startdate and enddate <strong>must</strong> be used as a pair.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'startdate', 'enddate']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_discnumbers_totals_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_discnumbers_totals_get`")

        resource_path = '/accounts/{accountId}/discnumbers/totals'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}
        if 'startdate' in params:
            query_params['startdate'] = params['startdate']
        if 'enddate' in params:
            query_params['enddate'] = params['enddate']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_disconnects_disconnectid_get(self, account_id, disconnectid, **kwargs):
        """
        
        Retrieves the information associated with the disconnect order specified.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_disconnectid_get(account_id, disconnectid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str disconnectid:  (required)
        :param str tndetail: If set to true, displays the disconnect order's telephone order information in greater detail
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_disconnects_disconnectid_get_with_http_info(account_id, disconnectid, **kwargs)
        else:
            (data) = self.accounts_account_id_disconnects_disconnectid_get_with_http_info(account_id, disconnectid, **kwargs)
            return data

    def accounts_account_id_disconnects_disconnectid_get_with_http_info(self, account_id, disconnectid, **kwargs):
        """
        
        Retrieves the information associated with the disconnect order specified.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_disconnectid_get_with_http_info(account_id, disconnectid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str disconnectid:  (required)
        :param str tndetail: If set to true, displays the disconnect order's telephone order information in greater detail
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'disconnectid', 'tndetail']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_disconnects_disconnectid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_disconnects_disconnectid_get`")
        # verify the required parameter 'disconnectid' is set
        if ('disconnectid' not in params) or (params['disconnectid'] is None):
            raise ValueError("Missing the required parameter `disconnectid` when calling `accounts_account_id_disconnects_disconnectid_get`")

        resource_path = '/accounts/{accountId}/disconnects/{disconnectid}'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'disconnectid' in params:
            path_params['disconnectid'] = params['disconnectid']

        query_params = {}
        if 'tndetail' in params:
            query_params['tndetail'] = params['tndetail']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_disconnects_disconnectid_notes_get(self, account_id, disconnectid, **kwargs):
        """
        
        Retrieve the set of notes associated with an order.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_disconnectid_notes_get(account_id, disconnectid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str disconnectid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_disconnects_disconnectid_notes_get_with_http_info(account_id, disconnectid, **kwargs)
        else:
            (data) = self.accounts_account_id_disconnects_disconnectid_notes_get_with_http_info(account_id, disconnectid, **kwargs)
            return data

    def accounts_account_id_disconnects_disconnectid_notes_get_with_http_info(self, account_id, disconnectid, **kwargs):
        """
        
        Retrieve the set of notes associated with an order.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_disconnectid_notes_get_with_http_info(account_id, disconnectid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str disconnectid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'disconnectid']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_disconnects_disconnectid_notes_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_disconnects_disconnectid_notes_get`")
        # verify the required parameter 'disconnectid' is set
        if ('disconnectid' not in params) or (params['disconnectid'] is None):
            raise ValueError("Missing the required parameter `disconnectid` when calling `accounts_account_id_disconnects_disconnectid_notes_get`")

        resource_path = '/accounts/{accountId}/disconnects/{disconnectid}/notes'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'disconnectid' in params:
            path_params['disconnectid'] = params['disconnectid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_disconnects_disconnectid_notes_post(self, account_id, disconnectid, **kwargs):
        """
        
        Updates the Notes resource by adding a note.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_disconnectid_notes_post(account_id, disconnectid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str disconnectid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_disconnects_disconnectid_notes_post_with_http_info(account_id, disconnectid, **kwargs)
        else:
            (data) = self.accounts_account_id_disconnects_disconnectid_notes_post_with_http_info(account_id, disconnectid, **kwargs)
            return data

    def accounts_account_id_disconnects_disconnectid_notes_post_with_http_info(self, account_id, disconnectid, **kwargs):
        """
        
        Updates the Notes resource by adding a note.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_disconnectid_notes_post_with_http_info(account_id, disconnectid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str disconnectid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'disconnectid']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_disconnects_disconnectid_notes_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_disconnects_disconnectid_notes_post`")
        # verify the required parameter 'disconnectid' is set
        if ('disconnectid' not in params) or (params['disconnectid'] is None):
            raise ValueError("Missing the required parameter `disconnectid` when calling `accounts_account_id_disconnects_disconnectid_notes_post`")

        resource_path = '/accounts/{accountId}/disconnects/{disconnectid}/notes'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'disconnectid' in params:
            path_params['disconnectid'] = params['disconnectid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/xml'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_disconnects_get(self, account_id, page, size, **kwargs):
        """
        
        retrieve a list of disconnect orders that is associated with an account

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_get(account_id, page, size, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str page: The disconnect order-id of the first record on the page.   \"1\" is used as a convention for the first disconnect order in the collection (required)
        :param int size: The number of records that should be returned by the query (required)
        :param str userid: The user ID associated with disconnected phone numbers
        :param str status: The status of the order
        :param date startdate: Retrieves all phone numbers disconnected after this date. The start date also requires the end date to be specified.
        :param date enddate: Retrieves all phone numbers disconnected before this date. The end date also requires the start date to be specified.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_disconnects_get_with_http_info(account_id, page, size, **kwargs)
        else:
            (data) = self.accounts_account_id_disconnects_get_with_http_info(account_id, page, size, **kwargs)
            return data

    def accounts_account_id_disconnects_get_with_http_info(self, account_id, page, size, **kwargs):
        """
        
        retrieve a list of disconnect orders that is associated with an account

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_get_with_http_info(account_id, page, size, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str page: The disconnect order-id of the first record on the page.   \"1\" is used as a convention for the first disconnect order in the collection (required)
        :param int size: The number of records that should be returned by the query (required)
        :param str userid: The user ID associated with disconnected phone numbers
        :param str status: The status of the order
        :param date startdate: Retrieves all phone numbers disconnected after this date. The start date also requires the end date to be specified.
        :param date enddate: Retrieves all phone numbers disconnected before this date. The end date also requires the start date to be specified.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'page', 'size', 'userid', 'status', 'startdate', 'enddate']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_disconnects_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_disconnects_get`")
        # verify the required parameter 'page' is set
        if ('page' not in params) or (params['page'] is None):
            raise ValueError("Missing the required parameter `page` when calling `accounts_account_id_disconnects_get`")
        # verify the required parameter 'size' is set
        if ('size' not in params) or (params['size'] is None):
            raise ValueError("Missing the required parameter `size` when calling `accounts_account_id_disconnects_get`")

        resource_path = '/accounts/{accountId}/disconnects'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}
        if 'page' in params:
            query_params['page'] = params['page']
        if 'size' in params:
            query_params['size'] = params['size']
        if 'userid' in params:
            query_params['userid'] = params['userid']
        if 'status' in params:
            query_params['status'] = params['status']
        if 'startdate' in params:
            query_params['startdate'] = params['startdate']
        if 'enddate' in params:
            query_params['enddate'] = params['enddate']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_disconnects_post(self, account_id, **kwargs):
        """
        
        Create a Disconnect order, and disconnect the numbers listed in the disconnect order.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_post(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_disconnects_post_with_http_info(account_id, **kwargs)
        else:
            (data) = self.accounts_account_id_disconnects_post_with_http_info(account_id, **kwargs)
            return data

    def accounts_account_id_disconnects_post_with_http_info(self, account_id, **kwargs):
        """
        
        Create a Disconnect order, and disconnect the numbers listed in the disconnect order.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_disconnects_post_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_disconnects_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_disconnects_post`")

        resource_path = '/accounts/{accountId}/disconnects'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/xml'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_dldas_get(self, account_id, **kwargs):
        """
        
        Retrieve a list of the DLDA orders that are associated with the account. 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_dldas_get(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str tn: A Telephone Number (TN) that is referenced in the order
        :param str last_modified_after: Checks the order's last modified date against this value. Orders that have a modification date after this date will be included. Format is yyyy-MM-dd
        :param str modified_date_from: For Date-based searches, the starting date of a date range that will be used to find DLDA Orders that were modified within the date range.  It is in the form yyyy-MM-dd.
        :param str modified_date_to: For Date-based searches, the ending date of a date range that will be used to find DLDA Orders that were modified within the date range.  It is in the form yyyy-MM-dd.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_dldas_get_with_http_info(account_id, **kwargs)
        else:
            (data) = self.accounts_account_id_dldas_get_with_http_info(account_id, **kwargs)
            return data

    def accounts_account_id_dldas_get_with_http_info(self, account_id, **kwargs):
        """
        
        Retrieve a list of the DLDA orders that are associated with the account. 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_dldas_get_with_http_info(account_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str tn: A Telephone Number (TN) that is referenced in the order
        :param str last_modified_after: Checks the order's last modified date against this value. Orders that have a modification date after this date will be included. Format is yyyy-MM-dd
        :param str modified_date_from: For Date-based searches, the starting date of a date range that will be used to find DLDA Orders that were modified within the date range.  It is in the form yyyy-MM-dd.
        :param str modified_date_to: For Date-based searches, the ending date of a date range that will be used to find DLDA Orders that were modified within the date range.  It is in the form yyyy-MM-dd.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'tn', 'last_modified_after', 'modified_date_from', 'modified_date_to']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_dldas_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_dldas_get`")

        resource_path = '/accounts/{accountId}/dldas'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']

        query_params = {}
        if 'tn' in params:
            query_params['tn'] = params['tn']
        if 'last_modified_after' in params:
            query_params['lastModifiedAfter'] = params['last_modified_after']
        if 'modified_date_from' in params:
            query_params['modifiedDateFrom'] = params['modified_date_from']
        if 'modified_date_to' in params:
            query_params['modifiedDateTo'] = params['modified_date_to']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_dldas_orderid_get(self, account_id, orderid, **kwargs):
        """
        
        Retrieve information about a DLDA Order with specified ID. 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_dldas_orderid_get(account_id, orderid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str orderid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_dldas_orderid_get_with_http_info(account_id, orderid, **kwargs)
        else:
            (data) = self.accounts_account_id_dldas_orderid_get_with_http_info(account_id, orderid, **kwargs)
            return data

    def accounts_account_id_dldas_orderid_get_with_http_info(self, account_id, orderid, **kwargs):
        """
        
        Retrieve information about a DLDA Order with specified ID. 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_dldas_orderid_get_with_http_info(account_id, orderid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str orderid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'orderid']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_dldas_orderid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_dldas_orderid_get`")
        # verify the required parameter 'orderid' is set
        if ('orderid' not in params) or (params['orderid'] is None):
            raise ValueError("Missing the required parameter `orderid` when calling `accounts_account_id_dldas_orderid_get`")

        resource_path = '/accounts/{accountId}/dldas/{orderid}'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'orderid' in params:
            path_params['orderid'] = params['orderid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/xml'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type([])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def accounts_account_id_dldas_orderid_history_get(self, account_id, orderid, **kwargs):
        """
        
        Retrieve the history information associated with a named DLDA order.  This indicates the various states that the order has passed through, as well as the current state of the order as the last entry. 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_dldas_orderid_history_get(account_id, orderid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str orderid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.accounts_account_id_dldas_orderid_history_get_with_http_info(account_id, orderid, **kwargs)
        else:
            (data) = self.accounts_account_id_dldas_orderid_history_get_with_http_info(account_id, orderid, **kwargs)
            return data

    def accounts_account_id_dldas_orderid_history_get_with_http_info(self, account_id, orderid, **kwargs):
        """
        
        Retrieve the history information associated with a named DLDA order.  This indicates the various states that the order has passed through, as well as the current state of the order as the last entry. 

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.accounts_account_id_dldas_orderid_history_get_with_http_info(account_id, orderid, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account_id:  (required)
        :param str orderid:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'orderid']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_account_id_dldas_orderid_history_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `accounts_account_id_dldas_orderid_history_get`")
        # verify the required parameter 'orderid' is set
        if ('orderid' not in params) or (params['orderid'] is None):
            raise ValueError("Missing the required parameter `orderid` when calling `accounts_account_id_dldas_orderid_history_get`")

        resource_path = '/accounts/{accountId}/dldas/{orderid}/history'.replace('{format}', 'json')
        path_params = {}
        if 'account_id' in params:
            path_params['accountId'] = params['account_id']
        if 'orderid' in params:
            path_params['orderid'] = params['orderid']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
[...]
